* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input{
    min-width: 40px;
}

input:focus,
input:active{
    border: none;
    outline: none;
}