:root{
    --color-background-main: #0e121c;
    --color-background-dark: black;
    --color-background-component: #161b22;

    --color-border-main: #30363d;
    --color-border-active: #2f81f7;
    --color-border-danger: #f85149;
    --color-border-good: #3fb950;
    --color-border-hover: #8b949e;

    --color-font-main: #e6edf3;
    --color-font-inactive: #6e7681;
}